{% extends "base.html" %}

{% block title %}MassInform: Notify your contacts{% endblock %}

{% block style %}
	#homebutton{
		font-size: 2em;
		position: fixed;
		top: 10px;
		left: 10px;
	}

	#signout{
		font-size: 2em;
		position: fixed;
		top: 10px;
		right: 10px;
	}

	.smaller{
		margin-top: 0px;
		margin-bottom: 0px;
	}
{% endblock %}

{% block script %}
$(document).ready(function(){
	//Define variables
	var existing_emails_and_numbers = new Array();
	{% for clist in contactlists %}
		{% for c in clist.contacts%}
			existing_emails_and_numbers.splice(existing_emails_and_numbers.length - 1, 0, '{{ c.phonenumber }}');
			existing_emails_and_numbers.splice(existing_emails_and_numbers.length - 1, 0, '{{ c.email }}');
		{% endfor %}
	{% endfor %}
	//Scripts for processing new contact creations
	$(".createbtn").click(function(event){
		event.preventDefault();
		var clist_id = $(this).attr('id');
		clist_id = clist_id.replace('-createbtn', '');
		//Create table rows
		alert('1')
		var firstname = $('#' + clist_id + "-firstname").val();
		var lastname = $('#' + clist_id + "-lastname").val();
		var phonenumber = $('#' + clist_id + "-phonenumber").val();
		var email = $('#' + clist_id + "-email").val();

		//Add table to server database
		alert('yo1');
		$.get("/notify/createcontact/", {contactlist: clist_id, new_firstname: firstname, new_lastname: lastname, new_phonenumber: phonenumber, new_email: email}, function(data){
			alert('yo');
		});
	});
});
{% endblock %}

{% block body %}
	<a href="/index/"><span class="glyphicon glyphicon-home" id="homebutton"></span></a>
	<a href="/logout/"><span class="glyphicon glyphicon-off" id="signout"></span></a>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		</br>
			<div class="panel panel-default">
				<div class="panel-heading">Recent Notifications Sent:</div>
					<div class="panel-body">
						Sample content
					</div> <!-- notification panel content -->
			</div> <!--notification panel -->
		</br>
		{% for clist in contactlists %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="smaller">{{ clist.name }}<button type="button" class="btn btn-primary" style="display: inline; margin-left: 20px;">Notify</button>
						<small style="float: right;">Contact List</small></h4>
				</div>
					<div class="panel-body">
						<table class="table table-hover" id="table">
							<thead>
								<tr>
	  								<th>First Name</th>
	  								<th>Last Name</th>
	  								<th>Phone Number</th>
	  								<th>E-mail address</th>
	  								<th></th>
  								</tr>
							</thead>
							<tbody>
									{% for c in clist.contacts %}
							    	<tr>
							    		<td>{{ c.firstname }}</td>
							        	<td>{{ c.lastname }}</td>
							        	<td>{{ c.phonenumber }}</td>
							        	<td>{{ c.email }}</td>
							        	<td><button type="button" class="btn btn-default btn-xs" style="margin-right: -10px;" id="removeContact">
		      								<span class="glyphicon glyphicon-remove"></span>
		    							</button></span></td>
							      	</tr>
							      	{% endfor %}
							      	<tr>
							      		<form>
							      			<td><input type="text" pattern="[A-Za-z]{4,50}" id="{{ clist.id }}-firstname" title="First Names can only have letters. They must be 4-50 characters long."></td>
							      			<td><input pattern="[A-Za-z]{4,50}" type="text" id="{{ clist.id }}-lastname" title="Last Names can only have letters. They must be 4-50 characters long."></td>
							      			<td><input type="text" pattern="[0-9]{10}" id="{{ clist.id }}-phonenumber" title="Phone Numbers must be in a 10 character, number only format. 100-200-4343 translates to 1002004343."></td>
							      			<td><input type="text" pattern="[A-Za-z0-9@._]{3,70}" id="{{ clist.id }}-email" title="An email address must be 3-70 characters long, without illegal characters. This field is required." required></td>
							      			<td><button type="submit" value="login" class="btn btn-small createbtn" id="{{ clist.id }}-createbtn"><span class="glyphicon glyphicon-plus"></span> Create Contact</button></td>
							      		</form>
							      	</tr>
						    </tbody>
						</table>
					</div> <!-- contactlist panel content -->
			</div> <!--contactlist panel -->
			{% endfor %}
		</div> <!-- column -->
	</div> <!-- row -->
</div> <!-- container -->
{% endblock %}