{% extends "base.html" %}

{% block title %}AtmosLog: Register{% endblock %}

{% block style %}
@media (min-width: 400px) {
.container{
    max-width: 400px;
    min-width: 200px;
    vertical-align: middle;
    float: none;
}

.centered{
    text-align: center;
}

{% endblock %}

{% block body %}
<div class="container">
</br>
    <div class-"center-block">
         {% if "username_taken" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">Username has already been taken.</p>
            </div>
        {% endif %}
        {% if "username_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The username must be between 4 and 50 characters.</p>
            </div>
        {% endif %}
        {% if "username_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The username can only contain alphanumeric characters and underscores.</p>
            </div>
        {% endif %}
        {% if "password_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The password must be between 6 and 50 characters.</p>
            </div>
        {% endif %}
        {% if "firstname_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The first name can only contain letters and spaces.</p>
            </div>
        {% endif %}
        {% if "firstname_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The first name must be between 3 to 70 characters.</p>
            </div>
        {% endif %}
        {% if "email_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The email is invalid.</p>
            </div>
        {% endif %}
        {% if "email_taken" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">This email is already being used.</p>
            </div>
        {% endif %}
        {% if "nickname_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The nickname must be 1 to 10 characters.</p>
            </div>
        {% endif %}

        <h3 class="text-center">Register</h3>
        <div class="well">
            <form method="post" action="/register/" role="form">
                {% csrf_token %}
                {% if "username_length" in issues or "username_taken" in issues or "username_char" in issues%}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username_init }}">
                {% if "username_length" in issues or "username_taken" in issues or "username_char" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "firstname_char" in issues or "firstname_length" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="firstname">Organization, Institution, or Display Name</label>
                    <input type="text" class="form-control" id="displayname" name="displayname" value="{{ displayname_init }}">
                {% if "firstname_char" in issues or "firstname_length" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "password_length" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{ password_init }}">
                {% if "password_length" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "email_char" in issues or "email_taken" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ email_init }}">
                {% if "email_char" in issues or "email_taken" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "nickname_length" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" value="{{ nickname_init }}">
                {% if "nickname_length" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                <div class="centered">
                    <button type="submit" value="login" class="btn btn-default">Submit</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
